<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		Cale Switzer
		{% endblock %}
	</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://bootswatch.com/4-alpha/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		{% block header %}
		{% endblock %}
</head>

<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse">
 		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<a class="navbar-brand" href="/">cale<span class="lastname">switzer</span></a>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav ml-auto">
	      		<li class="nav-item">
	        		<a class="nav-link" href="/about">about </a>
	      		</li>
				<li class="nav-item">
	        		<a class="nav-link" href="/projects">projects </a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="/contact">contact </a>
	      		</li>
				<li class="nav-item">
	        		<a class="nav-link" href="#">blog</a>
	      		</li>
	      	</ul>
	 	</div>
	</nav>

	{% block content %}
	{% endblock %}

	
	<!-- <div class="text-center"><i class="fa fa-github" aria-hidden="true"></i></div>
	 -->
</body>

<footer class="footer">
    <div class="container">
    	<span class="text-muted">Copyright Cale Switzer</span>
    </div>
</footer>

</html>
