{% extends "home/base.html" %}

{% block content %}

<header class="masthead">
	<div class="overlay">
		<div class="container text-center">
			<h1 class="display-6 text-white hometitle">cale switzer | programmer</h1>
			<h4 class="display-6 text-white">buffalo, ny</h4>

		</div>
	</div>
</header>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada tincidunt tempor. In hac habitasse platea dictumst. Morbi dictum elementum nulla, et dignissim lorem pellentesque eget. Vestibulum at purus dolor. Nam semper ante nec massa luctus, a vehicula sem tincidunt. Curabitur aliquam tempor quam at euismod. Cras venenatis egestas purus, vestibulum tempor sapien. Suspendisse cursus rhoncus efficitur. Duis non dolor in massa sagittis auctor. Suspendisse erat leo, hendrerit in est et, laoreet tempor ex. Etiam velit libero, consectetur a magna vel, porta tincidunt risus. Mauris a ipsum quis est lacinia mollis et eu orci. Vivamus mattis sem a lectus mollis laoreet. Vestibulum maximus, neque vel iaculis luctus, neque enim pellentesque neque, eu congue purus nunc nec sapien. Duis interdum molestie faucibus.</p>
<!-- <div class="container text-center">
	<img src="static/images/cale200.jpg" class="rounded-circle">
	
	<h1>cale switzer</h1>

	<p>Hello world. I am a programmer working out of Buffalo, NY. I create web apps with 
	python, javascript & react.js.</p>
</div> -->

{% endblock %}