{% extends "home/base.html" %}

{% block content %}

<header class="masthead">
	<div class="overlay">
		<div class="container text-center">
			<h1 class="display-6 text-white hometitle">cale switzer | programmer</h1>
			<h4 class="display-6 text-white">buffalo, ny</h4>

		</div>
	</div>
</header>

<div class="p-5 text-center">
	<p>
	I make web apps with python, javascript & react.js. Let's talk.
	</p>
</div>
<!-- <div class="container text-center">
	<img src="static/images/cale200.jpg" class="rounded-circle">
	
	<h1>cale switzer</h1>

	<p>Hello world. I am a programmer working out of Buffalo, NY. I create web apps with 
	python, javascript & react.js.</p>
</div> -->

{% endblock %}