{% extends "../home/base.html" %}
{% block title %}
Projects
{% endblock %}

{% block header %}
<script src="/static/js/actions.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-md-center justify-content-sm-center">
		{% for proj, info in projects.items %}
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<a href="{{ info.url }}" class="cardlink">
				<div class="card" id="{{ proj }}" style="width: 20rem;">
					<img class="card-img-top" id="{{ proj }}-img" src="{{ info.image }}" alt="{{ info.title }} Image"> <!--  318x180 size -->
						<div class="card-block">
							<h4 class="card-title" id="{{ proj }}-title">{{ info.title }}</h4>
							<p class="card-text">{{ info.summary }}</p>
						</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}