{% extends "../home/base.html" %}
{% block title %}
Projects
{% endblock %}

{% block header %}
<script src="/static/js/actions.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-md-center justify-content-sm-center">
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<a href="/projects/calculator" class="cardlink">
				<div class="card" id="calc" style="width: 20rem;">
					<img class="card-img-top" id="calc-img" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap"> <!--  318x180 size -->
						<div class="card-block">
							<h4 class="card-title" id="calc-title">Calculator</h4>
							<p class="card-text">Simple calculator built with Jquery.</p>
						</div>
				</div>
			</a>
		</div>
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<a href="#" class="cardlink">
				<div class="card" id="timer" style="width: 20rem;">
					<img class="card-img-top" id="timer-img" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap"> <!--  318x180 size -->
						<div class="card-block">
							<h4 class="card-title" id="timer-title">Timer</h4>
							<p class="card-text">Simple timer built with Jquery.</p>
						</div>
				</div>
			</a>
		</div>
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<div class="card" style="width: 20rem;">
				<img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap"> <!--  318x180 size -->

				<div class="card-block">
					<h4 class="card-title">Timer</h4>
					<p class="card-text">Simple timer built with jquery.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<div class="card" style="width: 20rem;">
				<img class="card-img-top" src="http://i57.tinypic.com/10i5qhv.jpg" alt="Card image cap"> <!--  318x180 size -->
				<div class="card-block">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<div class="card" style="width: 20rem;">
				<img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap"> <!--  318x180 size -->
				<div class="card-block">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}