{% extends "../home/base.html" %}
{% block title %}
Projects
{% endblock %}

{% block header %}
<script src="/static/js/actions.js"></script>
{% endblock %}

{% block content %}
<h3 class="text-center pt-4 pb-1">Projects</h3>
<div class="row align-items-center justify-content-center">
	<div class="text-center">Filter by: </div>
	<button class="lang-filter lang-jquery" id="jqf">#jquery</button>
	<button class="lang-filter lang-python" id="pyf">#python</button>
	<button class="lang-filter lang-reactjs" id="reaf">#reactjs</button>
</div>
<div class="container">
	<div class="row justify-content-md-center justify-content-sm-center">
		{% for proj, info in projects.items %}
		<div class="col-lg-auto col-md-auto col-sm-auto">
			<a href="{{ info.url }}" class="cardlink">
				<div class="card" id="{{ proj }}" style="width: 20rem;">
					<div class="lang-tab">
						{% for lang in info.langlist %}
							<span class="lang lang-{{ lang }}">#{{ lang }}</span>
						{% endfor %}
					</div>
					<div class="card-block">
						<h4 class="card-title" id="{{ proj }}-title">{{ info.title }}</h4>
						<p class="card-text">{{ info.summary }}</p>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}