{% extends "../home/base.html" %}
{% block title %}
Recipe List
{% endblock %}

{% block content %}


<h5>Please note: This app uses localstorage and will not work if you have 3rd party cookies disabled!</h5>

<p data-height="565" data-theme-id="light" data-slug-hash="NjajGY" data-default-tab="result" data-user="Tennyx" data-embed-version="2" data-pen-title="Recipe Box" class="codepen">See the Pen <a href="https://codepen.io/Tennyx/pen/NjajGY/">Recipe Box</a> by Cale Switzer (<a href="https://codepen.io/Tennyx">@Tennyx</a>) on <a href="https://codepen.io">CodePen</a>.</p>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<div class="text-center">
	<a href="#"><i class="fa fa-github fontlink-light" aria-hidden="true"></i></a>
	<p class="text-center description">This project was written with Reactjs. I have embedded with codepen as it is just view layer manipulation. Click for github code.</p>
</div>
{% endblock %}