{% extends "../home/base.html" %}
{% block title %}
Twisted Groves
{% endblock %}

{% block content %}

<p data-height="865" data-theme-id="light" data-slug-hash="XagRav" data-default-tab="result" data-user="Tennyx" data-embed-version="2" data-pen-title="Twisted Groves" class="codepen">See the Pen <a href="https://codepen.io/Tennyx/pen/XagRav/">Twisted Groves</a> by Cale Switzer (<a href="https://codepen.io/Tennyx">@Tennyx</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<div class="text-center">
	<a href="#"><i class="fa fa-github fontlink-light" aria-hidden="true"></i></a>
	<p class="text-center description">This project was written with Reactjs. I have embedded with codepen as it is just view layer manipulation. Click for github code.</p>
</div>
{% endblock %}