{% extends "../home/base.html" %}
{% block title %}
Twitch Streams
{% endblock %}

{% block header %}
<script src="/static/js/twitchStreams.js"></script>
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<link rel="stylesheet" href="/static/css/twitch-streams.css">
{% endblock %}

{% block content %}
<div class="fluid-container">
  <div class="text-center" id="title"><span id="word1">TWITCH</span> <span id="word2">STREAMS</span></div>
  
   <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/ESL_SC2" target="_blank"><div class="col-md-4 tab" id="ESL_SC2">ESL_SC2<span class="description" id="dESL_SC2">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
   <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/OgamingSC2" target="_blank"><div class="col-md-4 tab" id="OgamingSC2">OgamingSC2<span class="description" id="dOgamingSC2">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
   <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/cretetion" target="_blank"><div class="col-md-4 tab" id="cretetion">cretetion<span class="description" id="dcretetion">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
   <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/storbeck" target="_blank"><div class="col-md-4 tab" id="storbeck">storbeck<span class="description" id="dstorbeck">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
   <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/habathcx" target="_blank"><div class="col-md-4 tab" id="habathcx">habathcx<span class="description" id="dhabathcx">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/RobotCaleb" target="_blank"><div class="col-md-4 tab" id="RobotCaleb">RobotCaleb<span class="description" id="dRobotCaleb">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/noobs2ninjas" target="_blank"><div class="col-md-4 tab" id="noobs2ninjas">noobs2ninjas<span class="description" id="dnoobs2ninjas">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/brunofin" target="_blank"><div class="col-md-4 tab" id="brunofin">brunofin<span class="description" id="dbrunofin">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"></div>
    <a href="https://www.twitch.tv/comster404" target="_blank"><div class="col-md-4 tab" id="comster404">comster404<span class="description" id="dcomster404">No Stream</span></div></a>
    <div class="col-md-4"></div>
  </div>
</div>



<div class="text-center">
	<a href="#"><i class="fa fa-github gitlink-light" aria-hidden="true"></i></a>
	<p class="text-center description">This project was written in jQuery. Click for github code.</p>
</div>
{% endblock %}