{% extends "../home/base.html" %}
{% block title %}
About
{% endblock %}

{% block content %}
<div class="container">
	<!-- I love creativity. That is to say I love being creative and appreciating creativity in all its forms. As a lifelong musician my outlet was my guitar...then my keyboard...then my djembe - my didjeridoo - my kantele -
	<br><br>
	Let's just say my apartment is full of 'creative outlets'. One thing I never expected to satiate these creative impulses, however, was coding. I always imagined it a drab practice - staring at lines of text for hours on end sounded awful to me. I couldn't have been more wrong.
	<br><br>
	I started coding back in May 2016 with my wife <a href="http://www.annmarie.io" target="_blank">Annmarie.</a> In that time I have fully immersed myself in learning. It started with computer science concepts and learning the python language. From there it moved on to learning web development and creating my first app - a random bubble hockey team generator for my office. Before I knew it I was coding every single day for hours on end - and I wasn't getting bored. Coding can be just as creative as writing a song or painting a picture - but with the added elements of problem-solving and  -->
	


  		<p class="mb-1 mt-5 text-center">"Any sufficiently advanced technology is indistinguishable from magic."</p>
  		<footer class="blockquote-footer text-center"><cite title="Source Title">Arthur C. Clarke</cite></footer>

		
	
</div>
{% endblock %}