/** {
	border: solid 1px;	
}*/

body {
  background: #e0e0e0;
  color: #5b5b5b;
}

.navbar {
	background: #f9f9f9;
	padding-left:40px;
}

.navbar-brand {
	font-family: 'Fjalla One', sans-serif;
}

.lastname {
	color:#86d84b;	
}

#navbarSupportedContent {
	margin-right: 40px;	
}

.gitlink {
	font-size: 80px;
	padding: 40px 0px 15px 0px;
	color: #5b5b5b;
}

.gitlink:hover {
	color:#86d84b;	
}

.cardlink {
	text-decoration: none !important;
	color: gray;
	text-align: center;
}

.cardlink:hover {
	color:red;
}