/** {
	border: solid 1px;	
}*/
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #d6d6d6;
  /*background: #1f2021; */
  color: #565656;
  margin-bottom: 60px;
}

.navbar {
	background: #5d8c46;
	padding-left:40px;
}

.navbar-brand {
	font-family: 'Fjalla One', sans-serif;
}

.lastname {
	color:#9eed65;	
}

#navbarSupportedContent {
	margin-right: 40px;	
}

.fontlink-light {
	font-size: 80px;
	padding: 40px 0px 15px 0px;
	color: #5b5b5b;
}

.fontlink-light:hover, .fontlink-dark {
	font-size: 80px;
	padding: 40px 0px 15px 0px;
	color:#5d8c46;	
}

.fontlink-dark:hover {
	color:#ededed;	
}

.cardlink {
	text-decoration: none !important;
	color: #5b5b5b;
	text-align: center;
}

.card-img-top {
	/*filter: grayscale(100%);*/
  background:red;
}

header.masthead {
    height: 40vh;
    min-height: 300px;
    background: url('../images/calebanner.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-weight: normal;
}

header.masthead > .overlay {
    height: 40vh;
    min-height: 300px;
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.hometitle {
	margin-top: 54px;
	font-size: 2em;
}

.card {
	margin: 5px;
	padding: 10px;
	box-shadow: 10px 10px 35px #bababa;
  border: none;
  font-size:90%;
  /*height: 175px;*/
}

.btn-primary {
  background: #5d8c46;
  border: none;
  border-radius: 0;
  padding:10px 50px 10px 50px;
}

.btn-primary:hover {
  background: #455b39;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #5d8c46;
}

.fontfront, .fontfront:hover {
  font-size: 270%;  
}

.lang-filter {
  background:#d6d6d6;
  font-size:80%;
  padding:5px;
  margin:2px;
  border: none;
  border-radius: 3px;
}

.lang-filter:focus {
  outline: 0 !important;
}

/*.lang-filter:hover {
  background:#686868;
  font-size:80%;
  padding:5px;
  margin:2px;
  border: none;
  border-radius: 3px;
}*/

.sel {
  background:#686868;
  font-size:80%;
  padding:5px;
  margin:2px;
  border: none;
  border-radius: 3px;
  outline:0 !important;
}

/*.lang-filter:active {
  background:#686868;
  font-size:80%;
  padding:5px;
  margin:2px;
  border: none;
  border-radius: 3px;
  outline:0;
}*/

.lang-tab {
  background:#686868;
  text-align:left;
  font-size:80%;
  padding:5px;
}

.lang {
  margin-left:5px;
}

.lang-jquery {
  color:#e2f27b;
}

.lang-reactjs {
  color:#88b9f7;
}

.lang-python {
  color:#f29748;
}

